.blgCard img.blgImage {
  width: 100%;
  height: 299px;
  object-fit: cover;
  border-radius: 4px;
}

.blgCard {
  text-align: left;
}

.blgCard .blgDt {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #7e9dbb;
  margin: 5px 0;
}

.blgCard .blgTtle {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #31456a;
}

.blgCard .blgDsck {
  font-size: 17px;
  margin: 15px 0;
}

.blgCard .dwnldBtn {
  color: var(--primColor);
  text-decoration: underline;
}
